/* THIS IS WHERE THE ANIMATION FOR SIDEBAR IS APPLIED */

.slidingsidebar-transition-enter {
    opacity: 0;
    
    
}
.slidingsidebar-transition-enter-active {
    opacity: 1;
    

}
.slidingsidebar-transition-exit {
    opacity: 1;
    
}
.slidingsidebar-transition-exit-active {
    opacity: 0;
    
}


.slidingsidebar-parent-container {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    transition: all 1s;
    background: $background-primary;
    box-shadow: 3px 0 10px 0px rgb(0 0 0 / 50%);
    
    .slidingsidebar-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-secondary;

        .slidingsidebar-menu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            .slidingsidebar-link {
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                text-decoration: none;
                list-style: none;
                transition: 0.2 ease-in-out;
                text-decoration: none;
                cursor: pointer;

               /*  &:hover {
                    color: #01bf71;
                    transition: 0.2 ease-in-out;
                } */

                .nav-item {
                    li {
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        list-style: none;
                        color: $text-primary;
                        letter-spacing: 3px;
                        font-size: 1.5em;
                        /* font-family: 'Lora', sans-serif; */
                        text-align: center;
        
                        &:hover {
                            /* TODO: need to update color */
                            color: $text-highlight;
                            transition: color 600ms ease 0s;
                        }
                    }

                    &.active {
                        li {
                          span {
                            opacity: 1;
                            color: $text-highlight; /* TODO: need to update */
                          }
                        }
                      
                    }
                }
            }
        }

    }

}