/* THIS IS WHERE THE ANIMATION FOR SIDEBAR IS APPLIED */

.slidingsidebar-transition-enter {
    opacity: 0;
    transform: scale(1);

    transform: translateX(-100vw);
    /* position: absolute; */
    
    
}
.slidingsidebar-transition-enter-active {
    opacity: 1;
    /* transition: opacity 1s, transform 300ms; */
    
    /* transform: translate3d(100%, 0, 0); */
    transform: translateX(0);
    transition: all 300ms linear 300ms;

}
.slidingsidebar-transition-exit {
    opacity: 1;
    transform: translateX(0);
}
.slidingsidebar-transition-exit-active {
    opacity: 0;
    transform: scale(1);
    /* transform: translate3d( 300px, 0 , 0); */
    transform: translateX(100vw);
    transition: opacity 450ms, transform 300ms;
}


.slidingsidebar-parent-container {
   /*  position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: $background-primary; */
   /*  background: hsla(0,0%,42.7%,.12);
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px); */

    /* display: grid;
    align-items: center;
    top: 0;
    left: 0; */

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0px;
    width: 300px;
    height: 100%;
    background: $background-primary;
    box-shadow: 3px 0 10px 0px rgb(0 0 0 / 50%);
    /* transition: all 0.5s; */
    transition: all 1s;


    .slidingsidebar-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-secondary;

        .slidingsidebar-menu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            .slidingsidebar-link {
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                text-decoration: none;
                list-style: none;
                transition: 0.2 ease-in-out;
                text-decoration: none;
                cursor: pointer;

               /*  &:hover {
                    color: #01bf71;
                    transition: 0.2 ease-in-out;
                } */

                .nav-item {
                    li {
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        list-style: none;
                        color: $text-primary;
                        letter-spacing: 3px;
                        font-size: 1.5em;
                        /* font-family: 'Lora', sans-serif; */
                        text-align: center;
        
                        &:hover {
                            /* TODO: need to update color */
                            color: $text-highlight;
                            transition: color 600ms ease 0s;
                        }
                    }

                    &.active {
                        li {
                          span {
                            opacity: 1;
                            color: $text-highlight; /* TODO: need to update */
                          }
                        }
                      
                    }
                }
            }
        }

    }

}