#landing-login-parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%);
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
    background-size: cover;

    .landing-login-h1 {
        color: #000000;
        text-align: center;
        margin: 40px 0 20px 0;
        font-size: 24px;
        font-weight: 300;
    }

    .landing-login-h3 {
        color: #000000;
    }

    .mobile-signup-button {
        line-height: 25.2px;
        font-size: 18px;
        background-color: #1AC1DD;
        color: #fff;
        width: 280px;
        height: 60px;       
        border: none;
        padding: 15px 20px;
        cursor: pointer;
        margin: 20px 0 20px 0;
    }

    .login-forgotpassword {
        display: flex;
        flex-direction: column;
        
        .mobile-signin-button {
            line-height: 25.2px;
            font-size: 18px;
            background-color: #fff;
            border: 1px solid black;
            color: #1AC1DD;
            width: 280px;
            height: 60px;
            border: none;
            padding: 15px 20px;
            cursor: pointer;
            margin: 20px 0 20px 0;
        }
    }

}