.modal-parent-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 999;
    box-shadow: 0 0 10px #494f653b;
    animation: fadein .5s;
    overflow-y: hidden;
    justify-content: center;

    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }

    .modal-content {
        background-color: $background-primary;
        border-radius: 3px;
        /* max-width: $--width-text;  */
        margin: 50px 1rem;
        display: flex;
        width: 100%;
        flex-direction: column;

        @media screen and (min-width: 760px) {
            width: 50%;
        };

        .modal-header {
            position: relative;

            .modal-close-button {
                padding: .75rem;
                margin: 0;
                background: transparent;
                border: 0;
                position: absolute;
                right: 10px;
                font-weight: bold;
                font-size: 1.25rem;
                color: $text-primary;
                cursor: pointer;
                opacity: .5;
                transition: all 250ms ease-in-out;

                &:hover {
                    color: #36BF9D;
                    transform: scale(1.2);
                    /* transition: 500ms ease .1s; */
                    opacity: 1;
                }
            }
        }

    }



}