
/* Colors: */
    $background-primary: #fff;
    $background-secondary: #1AC1DD;
    $text-primary: #000000;
    $text-secondary: #fff;
    $text-highlight: #1AC1DD;
    $text-light: #737373;
    $button-primary: #1AC1DD; //Carribean Blue
    $button-secondary: #FFF;


/* ------------------------------------------------------------------------------------- */

/* Text Sizes: */
    $p-txt-size: 20px;