.header-parent-wrapper {
    display: flex;
    position: relative;
    z-index: 999;
    height: 80px;
    max-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 5px solid blue; */
}