.saveditemspg-parent-container {
    padding: 25px;
    width: 100%;

    .saveditemspg-title {

    }

    .saveditemspg-subtitle-wrapper {


        .saveditemspg-subtitle {

        }
    }

    .saveditemspg-information-parent-container {
        border: 1px solid blue;
        margin: 25px 0 0 0;
        max-width: 100%;
        max-height: 100%;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .saveditemspg-saveditem-wrapper {
            border: solid 1px red;
            width: 100%;
            height: 350px;
            position: relative;
    
            .saveditemspg-img {
                /* display: none; */
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 75%;
            }
    
            .saveditemspg-information {

                .saveditemspg-icon-parent-container {
                    border: 1px solid yellow;
                    position: absolute;
                    top: 0;
                    right: 0;

                    .saveditemspg-favoriteborderoutlined {
                        border: 1px solid orange;
                    }
                }
    
                .saveditemspg-itemtitle {
                    font-size: 12px;
                }
    
               /*  .saveditemspg-itemprice {
    
                } */
                
            }
        }
    }



}