.saveditemspg-parent-container {
    padding: 25px;
    width: 100%;
    /* border: 1px solid blue; */

    @media screen and (min-width: 1250px) {
        padding: 50px;
    }

    .saveditemspg-title {

    }

    .saveditemspg-subtitle-wrapper {
        margin: 25px 0 25px 0;

        .saveditemspg-subtitle {
            line-height: 1.5;
        }
    }

    .saveditemspg-information-parent-container {
        /* border-top: 1px solid rgba(0,0,0,0.1); */
        /* border: 1px solid blue; */
        margin: 25px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        border-radius: 6px;

        @media screen and (min-width: 750px) {
            grid-template-columns: repeat(4, 1fr);
        };
    
        @media screen and (min-width: 1250px) {
            gap: 25px;
        }

        .saveditemspg-saveditem-wrapper {
            /* border: solid 1px red; */
            background-color: #F5F5F5;
            /* padding: 10px; */
            /* width: 100%; */
            object-fit: contain;
            height: 450px;
            position: relative;
            z-index: 1;
            /* box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3); */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 6px;

            @media screen and (min-width: 1250px) {
                /* width: 350px; */
                height: 600px;
            }
            
            &:hover {
                cursor: pointer;
            }
    
           /*  .saveditemspg-img-wrapper {
                background-position: center;
                background-size: cover;
                border: 1px solid yellow;
 */
                .saveditemspg-img {
                    /* display: none; */
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    /* height: 75%;
                    display: flex; */

                    @media screen and (min-width: 1250px) {
                        /* object-fit: scale-down; */
                    }
                    
                }
            /* } */

            .saveditemspg-icon-parent-container {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                /* justify-content: space-around; */
                height: 100%;
                

                .saveditemspg-favoriteborderoutlined {
                    /* border: 1px solid rgba(255,255,255,.5); */
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    padding: 10px;
                    background-color: hsla(0,0%,96%,.5);
                    margin: 10px 10px 0 0;
                    z-index: 10;
                    transition: all 0.5s ease;
                    color: red;

                    &:hover {
                        cursor: pointer;
                        background-color: #e9f5f5;
                        color: black;
                        transform: scale(1.1);
                    }
                }

                /* .saveditemspg-shoppingcartoutlined {
                    border: 1px solid orange;
                } */
            }
    
            .saveditemspg-information {
                margin: 10px 0 0 0;
                padding: 10px;
    
                .saveditemspg-itemtitle {
                    font-size: 12px;

                    @media screen and (min-width: 1250px) {
                        font-size: $p-txt-size;
                    }

                }
    
                .saveditemspg-itemprice {
                    margin: 5px 0 0 0;

                    @media screen and (min-width: 1250px) {
                        font-size: $p-txt-med;
                    }
                }
                
            }
        }
    }



}