.productcard-parent-container {
    display: flex;
    flex-direction: column;
    padding: 40px;

    .productcard-category {
        font-size: $p-txt-size;
    }

    .productcard-img-wrapper {
        /* border: 1px solid green; */
        height: 200px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        /* object-fit: contain; */
        margin-bottom: 1rem;
        

        .productcard-img {
            object-fit: contain;
            height: 80%;
        }
    }

    .productcard-description {
        font-size: $p-txt-small;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .productcard-price-wrapper {
        margin-bottom: 1rem;
        font-weight: bold;

        /* .productcard-price {

        } */
    }
}