@media screen and (max-width: 1000px) {


    .nav-menu {
        background-color: $background-primary;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 850ms;
        z-index: 999;
    }

    .nav-menu.active {
        right: 0;
        transition: 1s;

    }



}