/* DESIGN SYSTEM: ----------------------------------------------------------------------*/
/* Colors: */
$background-primary: #fff;
$background-secondary: #1AC1DD;
$background-sections: #91E1EE;
$text-primary: #282828; //Youtube black
$text-secondary: #fff;
$text-highlight: #1AC1DD;
$text-light: #737373;
$text-cardmask: #4a4a4a; 
$button-primary: #1AC1DD; //Carribean Blue
$button-secondary: #FFF;



/* FONTS: ----------------------------------------------------------------------*/

/* LATO: 
      Light 300
      Regular 400
      Bold 700 */

/* ------------------------------------------------------------------------------------- */

/* Text Sizes: */
$primary-heading-h1: 29px;
$extralarge-heading-h1: 60px;
$secondary-heading-h2: 20px;
$text-paragraph: 16px;
$p-txt-small: .75rem;
$p-txt-size: 20px;
$p-txt-med: 16px;


/* ------------------------------------------------------------------------------------- */
/* STYLES: */

.App {

  /* height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  h1, h2, h3 {
    color: $text-primary;
    font-family: Lato, 'sans-serif';
  }

  p, li {
    font-family: Lato, 'sans-serif';
  }
  
}

@import "layout/directory/Directory.scss";
@import "layout/desktopNav/DesktopNav.scss";
@import "layout/heroBanner/HeroBanner.scss";
@import "layout/nav/Nav.scss";
@import "layout/sidebar/Sidebar.scss";
@import "layout/modal/Modal.scss";
@import "layout/signupModal/SignupModal.scss";
@import "layout/login/Login.scss";
@import "layout/signup/Signup.scss";
@import "layout/ctabutton/CtaButton.module.scss";
@import "layout/menuItem/menuItem.scss";
@import "pages/landing/Landing.scss";
@import "layout/productCards/ProductCards.scss";
@import "layout/checkoutProductCard/CheckoutProductCard.scss";
@import "pages/productspg/ProductsPg.scss";
@import "pages/checkoutpg/CheckoutPg.scss";
@import "layout/footer/Footer.scss";
@import "layout/herobanner2/HeroBanner2.scss";
@import "layout/productFeed/ProductFeed.scss";
@import "layout/productsLandingFeed/ProductsLandingFeed.scss";
@import "layout/newsletter/Newsletter.scss";
@import "layout/individualProductCards/IndividualProductCards.scss";
@import "layout/productNavSlider/ProductNavSlider.scss";
@import "pages/myaccountpg/MyAccountPg.scss";
@import "pages/saveditemspg/SavedItemsPg.scss";
@import "pages/orderpg/OrderPg.scss";
@import "layout/orderCards/OrderCards.scss";
@import "layout/ctaBanner/CtaBanner.scss";
@import "layout/contentSectionBreak/ContentSectionBreak.scss";
@import "layout/serviceSectionBreak/ServiceSectionBreak.scss";

