/* THIS IS WHERE THE ANIMATION FOR SIDEBAR IS APPLIED */

.sidebar-transition-enter {
    opacity: 0;
    transform: scale(1);
}
.sidebar-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 450ms, transform 300ms;
}
.sidebar-transition-exit {
    opacity: 1;
}
.sidebar-transition-exit-active {
    opacity: 0;
    transform: scale(1);
    transition: opacity 450ms, transform 300ms;
}

.sidebar-parent-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: $background-secondary;
   /*  background: hsla(0,0%,42.7%,.12);
    box-shadow: 0 3px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px); */
    display: grid;
    align-items: center;
    top: 0;
    left: 0;


    .sidebar-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-secondary;

        .sidebar-menu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            .sidebar-link {
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                text-decoration: none;
                list-style: none;
                transition: 0.2 ease-in-out;
                text-decoration: none;
                cursor: pointer;

               /*  &:hover {
                    color: #01bf71;
                    transition: 0.2 ease-in-out;
                } */

                .nav-item {
                    li {
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        list-style: none;
                        color: $text-secondary;
                        letter-spacing: 3px;
                        font-size: 1.5em;
                        /* font-family: 'Lora', sans-serif; */
                        text-align: center;
        
                        &:hover {
                            /* TODO: need to update color */
                            color: #2DBCB4;
                            transition: color 600ms ease 0s;
                        }
                    }

                    &.active {
                        li {
                          span {
                            opacity: 1;
                            color: #2DBCB4; /* TODO: need to update */
                          }
                        }
                      
                    }
                }
            }
        }

    }

}