.footer-parent-container {
    display: flex;

    @media screen and (max-width: 760px) {
        flex-direction: column;
    }

    .footer-left-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;


        .footer-p {
            margin: 20px 0px;
        }

    }

    .footer-right-section {
        flex: 1;
        padding: 20px;
    }
}