.desktopNav-parent-container {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: $background-primary;

    .desktop-nav-items-container {
        transform: translate(0%, 50%);
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .desktop-nav-items-left {
            flex: 1;
            display: flex;
            align-items: center;

            .desktop-nav-items-languages {
                font-size: 14px;
                cursor: pointer;
            }

            .desktop-nav-items-search-container {
                border: 0.5px solid lightgray;
                display: flex;
                align-items: center;
                margin-left: 25px;
                padding: 5px;

                input {
                    border: none;
                }
            }
        }

        .desktop-nav-items-center {
            flex: 1;
            text-align: center;
        }

        .desktop-nav-items-right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .desktopNav-nav-item {
                font-size: 14px;
                cursor: pointer;
                margin-left: 25px;
                color: black;
            }
        }

    }
    
}