.signin-button, .signup-button {
    color: $button-primary;
   
    line-height: 25.2px;
    font-size: 18px;
    background-color: #1AC1DD;
    border: 1px solid black;
    color: #fff;
    width: 280px;
    height: 60px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

/* .signout-button {
    color: red;
} */