.productFeed-parent-container {
    padding: 20px;

    .productFeed-h2 {
        margin: 0px 0px 10px 0;
    }
    
   .productFeed-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
   }
}